body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  border-bottom: 2px solid black;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

button {
  min-height: 30px;
}

button.reset {
  background-color: #FF5555;
}